<label class="Goform__label {{ class }}" for="{{ for }}">
    {{ content | raw }}
    {% if not required %}
        <span class="Goform__field-optional-marker text-xs uppercase text-gray-500 font-normal">
            Optional
        </span>
    {% endif %}
</label>
