<div class="Goform__field Goform__field-text flow flow-space-2">
    <Goform.Label :for="name" :content="label" :required="required" />
    <input
        class="Goform__input Goform__input--text"
        type="{{ type }}"
        id="{{ name }}"
        name="{{ name }}"
    >
</div>
