<div
    class="carousel-item grid h-full w-full col-start-1 row-start-1 transition duration-[1.5s]"
    tabindex="-1"
    data-preview="{{ is_preview ? 'true' : 'false' }}"
>
    <InnerBlocks />
</div>
