.DS_Store
Thumbs.db

404.twig
index.php
page.twig
posts.twig
search.twig
single.twig
admin/

blocks/component-preview/
blocks/welcome/

components/App/
components/Code/
components/Sidebar/
components/**/preview.twig