<div class="Goform__field Goform__field-hidden flow flow-space-2 sr-only">
    <Goform.Label :for="name" :content="label" :required="required" />
    <input
        class="Goform__input Goform__input--hidden"
        type="{{ type }}"
        id="{{ name }}"
        name="{{ name }}"
    >
</div>
