<div class="Marquee" {{ styles | raw }} data-pause-on-hover="{{ pauseOnHover ? 'true' : 'false' }}">
    <ul class="Marquee__content">
        {{ children | raw }}
    </ul>

    <ul class="Marquee__content" aria-hidden="true">
        {{ children | raw }}
    </ul>
</div>