{% if number %}
    <a class="FloatingWhatsAppButton" href="https://wa.me/{{ number | replace({ ' ': '' }) }}">
        {% if icon_exists('whatsapp') %}
            <Icon name="whatsapp" />
        {% endif %}
        <span>{{ children ?? 'WhatsApp Us' | raw }}</span>
    </a>
{% endif %}