.AvatarStack__image:not(:first-child) {
	margin-inline-start: calc(var(--space-sm) * -1);
	transition: transform 0.2s, opacity 0.2s;
}

.AvatarStack__image {
	box-shadow: 0 0 0 2px var(--color-white);
	z-index: 2;
}

.AvatarStack:has(.AvatarStack__image:hover) .AvatarStack__image:not(:hover) {
	opacity: 0.5;
	transform: scale(0.95);
	z-index: 1;
}