{% set tagName = is | default('h3') %}

<{{ tagName }} class="AccordionTrigger">
    <button type="button" class="AccordionTrigger__button">
        <span class="AccordionTrigger__content">{{ children | raw }}</span>
        <div class="AccordionTrigger__icon">
            <Icon :name="icon | default('caret-down')" />
        </div>
    </button>
</{{ tagName }}>