<a class="block no-underline" href="{{ href ?? '/' }}">
	<!-- Replace this with your logo -->
	<div class="flex items-start transition transform origin-top-left duration-500 hover:scale-105">
		<Icon name="arrow-up" class="-ml-5 w-5 h-5 text-gray-800 text-lg" />
		<p>
			<span class="bg-gradient-to-br from-blue-500 to-pink-500 text-transparent bg-clip-text text-xl font-bold">Celeste</span>
			<span class="text-gray-500 text-sm italic">for WordPress</span>
			<span class="text-pink-700 text-xs font-bold">v{{ utils.theme_version }}</span>
		</p>
	</div>
</a>