<div class="Goform__field Goform__field-textarea flow flow-space-2">
    <Goform.Label :for="name" :content="label" :required="required" />
    <textarea
        class="Goform__input Goform__input--textarea"
        id="{{ name }}"
        name="{{ name }}"
    ></textarea>
</div>
