<div class="Goform__field Goform__field-select flow flow-space-2">
    <Goform.Label :for="name" :content="label" :required="required" />
    <select
        class="Goform__input Goform__input--select"
        id="{{ name }}"
        name="{{ name }}"
    >
        {% for choice in choices %}
            <option value="{{ choice.value }}">
                {{ choice.label }}
            </option>
        {% endfor %}
    </select>
</div>
